/* permet de ne pas avoir de blanc autour */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.antipoint li {
    list-style-type: none;
}

/* LES CLASSES */
.display {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

/* BARRE NAVIGATION */
#logo-nav {
    width: 5%;
    height: 31px;
    position: absolute;
    top: 25px;
    left: 5.8%
}

nav {
    width: 100%;
    height: 80px;
    background-color: #152237;
}

#titre-formation {
    height: 18px;
    width: 6.5%;
    position: absolute;
    top: 31px;
    left: 20, 8%;
    color: #FFFFFF;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 15px;
    /* leading-trim: NONE; */
    line-height: 100%;
    letter-spacing: -1.5%;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;

}

#search {
    height: 40px;
    width: 28.4%;
    position: absolute;
    top: 20px;
    left: 35.9%;
    border: mixte 1px solid #FFFFFF;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 15px;
    /* leading-trim: NONE; */
    line-height: 100%;
    letter-spacing: -1.5%;
    text-align: center;
    vertical-align: middle;

}

#connexion {
    height: 40px;
    width: 7.7%;
    position: absolute;
    top: 20px;
    left: 77, 4%;
    border-radius: 6px;
    background: #FFFFFF;
    color: #152237;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 15px;
    /* leading-trim: NONE; */
    line-height: 100%;
    letter-spacing: -1.5%;
    text-align: center;
    vertical-align: middle;


}

#inscription {
    height: 40px;
    width: 7.7%;
    position: absolute;
    top: 20px;
    left: 86, 3%;
    border-radius: 6px;
    color: #152237;
    background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%);
    font-family: Montserrat;
    font-weight: 500;
    font-size: 15px;
    /* leading-trim: NONE; */
    line-height: 100%;
    letter-spacing: -1.5%;
    text-align: center;
    vertical-align: middle;

}


/* HEADER avec bannière */
/* https://www.w3schools.com/howto/howto_css_hero_image.asp */
.banniere {
    background-image: linear-gradient(94.01deg, rgba(51, 153, 97, 0.8) 3.11%, rgba(21, 183, 226, 0.8) 98.45%), url('./images/bg-header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 100%;
}

.banniere h1 {
    height: 59px;
    width: 60.7%;
    position: absolute;
    top: 149px;
    left: 19.6%;
    font-family: Montserrat;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 48px;
    /* leading-trim: NONE; */
    line-height: 100%;
    letter-spacing: -1.5%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #152237;

}

.banniere h4 {
    height: 24px;
    width: 42, 3;
    position: absolute;
    top: 216px;
    left: 28.8%;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    /* leading-trim: NONE; */
    line-height: 100%;
    letter-spacing: -1.5%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #000000;
    ;


}

#savoir-plus {
    height: 40px;
    width: 7.7%;
    position: absolute;
    top: 262px;
    left: 46.1%;
    border-radius: 6px;
    background: #FFFFFF;
    color: #152237;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 15px;
    /* leading-trim: NONE; */
    line-height: 100%;
    letter-spacing: -1.5%;
    text-align: center;
    vertical-align: middle;
}

/* PARTIE FORMULAIRES POPULAIRES */
.section {
    height: 632px;
    width: 100%;
    position: relative;
    background-color: #FFFFFF;
}

.section h2 {
    height: 72px;
    width: 28.9%;
    position: absolute;
    left: 5.8%;
    top: 30px;
    font-family: Montserrat;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 36px;
    /* leading-trim: NONE; */
    line-height: 72px;
    letter-spacing: -1.5%;
    color: #152237;

}

#sonia {
    width: 17.44%;
    height: 25px;
    position: absolute;
    top: 402px;
    left: 6.79%;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    /* leading-trim: NONE; */
    line-height: 25px;
    letter-spacing: 0%;
    color: #152237;

}

.card-form {
    height: 362px;
    width: 18.27%;
    position: absolute;
    top: 136px;
    left: 5.95%;
    border: 1px solid #aa1313;
    /* border a retirer */
    border-radius: 6px;
    opacity: 1;

}

.price {
    height: 31.58%;
    width: 7.14%;
    position: absolute;
    top: 326px;
    left: 16.3%;
    background: #152237;
    color: #FFFFFF;
    border-radius: 93px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.big-price {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    /* leading-trim: NONE; */
    line-height: 20px;
    letter-spacing: -1.5%;

}

.litle-price {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    /* leading-trim: NONE; */
    line-height: 7px;
    letter-spacing: -1.5%;
    text-decoration: line-through;

}

.star svg {
    /* width: 5px;
    height: 5px; */
    opacity: 1;
    top: 432px;
    left: 138px;
    width: 20.130027770996094px;
    height: 19.19999885559082px;
}