/* BARRE NAVIGATION */
nav {
    background-color: #152237;
}

/* HEADER */
/* https://www.w3schools.com/howto/howto_css_hero_image.asp */
.img-header {
    background-image:  url('./images/bg-header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 451px;
    width: 1680px;
    top: -2px;
    /* haut -2 */
}